* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: 500;
}

window#waybar {
  background-color: rgba(46, 52, 64, 0.7);
  border-radius: 10px;
  margin: 8px 12px 0px 12px;
  padding: 0px 5px;
  color: #ECEFF4;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #D8DEE9;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #5E81AC;
  color: #ECEFF4;
}

#workspaces button.urgent {
  background-color: #BF616A;
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #ECEFF4;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  color: #ECEFF4;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: transparent;
}

#battery {
  background-color: transparent;
}

#battery.charging, #battery.plugged {
  color: #A3BE8C;
  background-color: transparent;
}

@keyframes blink {
  to {
    background-color: #ECEFF4;
    color: #2E3440;
  }
}

#battery.critical:not(.charging) {
  background-color: #BF616A;
  color: #ECEFF4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #2E3440;
}

#network {
  background-color: transparent;
}

#network.disconnected {
  background-color: #BF616A;
}

#pulseaudio {
  background-color: transparent;
}

#pulseaudio.muted {
  background-color: #90A1B1;
  color: #2a5c45;
}

#tray {
  background-color: transparent;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #BF616A;
}
