* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

window#waybar {
  background: rgba(250, 250, 250, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid #4C566A;
  color: #2E3440;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  color: #2E3440;
}

#window {
  background: rgba(0, 0, 0, 0.05);
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.07);
}

#battery.critical:not(.charging) {
  background-color: #EBCB8B;
  color: #2E3440;
}


