* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 14px;
}

window {
  background-color: rgba(255, 255, 255, 0.92);
  border: 2px solid #4C566A;
  border-radius: 15px;
  color: #2E3440;
}

#input {
  margin: 5px;
  border: 1px solid #D8DEE9;
  border-radius: 8px;
  background-color: #ECEFF4;
  color: #2E3440;
  padding: 8px;
  font-size: 16px;
}

#entry:selected { background-color: #88C0D0; color: #2E3440; }


